<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @publication.body %>
</p>

<p>
  <strong>Student:</strong>
  <%= @publication.student %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
