<h1>Listing topics</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Corte</th>
      <th>Course</th>
      <th>Descripcion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.titulo %></td>
        <td><%= topic.corte %></td>
        <td><%= topic.course %></td>
        <td><%= topic.descripcion %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
